[flake8]
# Tillåter längre rader än 79 tecken (standard)
max-line-length = 120

# Ignorerar långa rader, trailing whitespace, och extra blankrader
ignore = E501, W293, W291

exclude = 
    .git,
    __pycache__,
    dist,
    build,
    venv,
    .venv
